<launch>
    <node name="ds_cap" pkg="ds_cap" type="ds_cap.py" output="screen">
        <rosparam file="$(find taarn_basestation_bringup)/params/ds_cap.yaml" command="load" />
    </node>
    <node name="tfMap2World" pkg="tf" type="static_transform_publisher" args="0 0 -10 0 0 0 /World /map 100" />
</launch>