<launch>

    <node name="Virtual_tether" pkg="visual_virtual_tether" type="virtual_tether_MallARD_old.py"/>

    <group ns="mallard">
        <node name="mallard_to_twist" pkg="visual_virtual_tether" type="obj_to_cmdvel_mall.py" output="screen">
            <rosparam file="$(find taarn_basestation_bringup)/params/MallardToTwist.yaml" command="load" />
        </node>
    </group>

</launch>