<launch>

    <node name="virtual_tether" pkg="visual_virtual_tether" type="virtual_tether_main.py"/>

    <node name="virtuaL_tether_mallard_mixer" pkg="visual_virtual_tether" type="virtuaL_tether_mallard_mixer.py" output="screen">
        <rosparam file="$(find taarn_basestation_bringup)/params/MallardToTwist.yaml" command="load" />
    </node>

</launch>